# URL de tu backend para builds o producción.
# En desarrollo, si dejas esto vacío, la app intentará usar automáticamente la IP del PC para funcionar en el celular.
# Ejemplo: https://api.tu-servidor-render.com/api
EXPO_PUBLIC_API_URL=https://api.mipowerbud.com/api